.menu1{width: 100%;text-align: center;}

.tombol {width:49.3%;color: black;}

.videotutoroverlay {
  text-align-last:left;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  transition: 0.5s;
}

.videotutoroverlay-content {
  background-color:transparent;
  position: relative;
  top: 5%;
  width: 96%;
  text-align: initial;
  margin: 5% 0px 0px 2%;
  padding:0px 0px 0px 0px;
}

.videotutoroverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.videotutoroverlay p {
  color: #00ffea;
    font-family: Helvetica, Serif;
    font-size: 35px;
    margin: 64px 0 0em;
}

.videotutoroverlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.videotutoroverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .videotutoroverlay {overflow-y: auto;}
  .videotutoroverlay a {font-size: 20px}
  .videotutoroverlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}