.ukuranketerangan {
  height: 500px;
  width: 100%;
}

.warnabahaya {
  color: red;
}

.cancelbtn, .deletebtn {
  float: left;
  height:50px;
  width: 49.9%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  font-size:20px;
  text-align: center;
}

/* The Modal (background) */
.modalbahaya1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #0000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modalbahaya1-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfixbahaya::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}  
  
  
.groupsm {
  padding: 0 0px;
  height:70px;
  width: 100%;
}   
.groupssemua {
  background-color:#5f7475;
  color:#fff;
  font-size:17px;
  padding: 0 0px;
  margin:3px;
  float: left;
  height:50px;
  width: 19.0%;
} 

 .groupsaman {
  background-color:#2c753f;
  color:#fff;
  font-size:17px;
  padding: 0 0px;
  margin:3px;
  float: left;
  height:50px;
  width: 19.0%;
} 
.groupswaspada {
  background-color:#a5af09;
  color:#fff;
  font-size:17px;
  padding: 0 0px;
  margin:3px;
  float: left;
  height:50px;
  width: 19.0%;
} 
.groupsbahaya {
  background-color:#9f001dfa;
  color:#fff;
  font-size:17px;
  padding: 0 0px;
  margin:3px;.responsive {
  background-color:#4c4f51;
  padding: 0 6px;
  float: left;
  height:80px;
  width: 33.333%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
  float: left;
  height:50px;
  width: 19.0%;
} 
  
.responsive {
  background-color:#507f5c;
  padding: 0 6px;
  float: left;
  height:80px;
  width: 33.333%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.responsivewaspada {
  background-color:#70751d;
  padding: 0 6px;
  float: left;
  height:80px;
  width: 33.333%;
}
@media only screen and (max-width: 700px) {
  .responsivewaspada {
    width: 49.99999%;
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsivewaspada {
    width: 100%;
  }
}
.responsivebahaya {
  background-color:#6d1818fa;
  padding: 0 6px;
  float: left;
  height:80px;
  width: 33.333%;
}
@media only screen and (max-width: 700px) {
  .responsivebahaya {
    width: 49.99999%;
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsivebahaya {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 45px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shadow-chat {text-shadow: 0px 0px 2px #222,0px 0px 2px #222;font-size: 0.5rem;
  animation: flickerchat 1.5s infinite alternate; }/* Flickering animation */
@keyframes flickerchat {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 10px #1333d7,0 0 10px #1333d7,0 0 10px #1333d7,0 0 10px #1333d7,0 0 10px #1333d7, 0 0 10px #1333d7,0 0 10px #1333d7,0 0 10px #1333d7;} 20%, 24%, 55% {        text-shadow: none;}    }

.shadow-fbdemo {text-shadow: 0px 0px 0.1px #222,0px 0px 0.1px #222;font-size: 0.1rem;
  animation: flickerfbdemo 2.5s infinite alternate; }/* Flickering animation */
@keyframes flickerfbdemo {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525, 0 0 10px #087525;} 20%, 24%, 55% {  text-shadow: none;}}

.textmenu {
position:relative;
top:-13%;
color:#fff;
text-align: center;
font-size: 18px;
margin-bottom: 3.01%;
white-space: nowrap;
border: 1px solid #0000;
padding:0px 0% 0px 0%;
overflow: hidden;
text-overflow: ellipsis;
} 
